<ion-header>
  <ion-back-button class='float' routerLink="/navigation/h"></ion-back-button>
  <ion-toolbar>
    <ion-title>reccomendations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color ='dark' class='butt' routerLink='/messaging'>Match: {{matches[0]}}</ion-item>
    <ion-item>5 reccomendations:</ion-item>
  </ion-list>
  <ion-list *ngFor='let matche of firstmatch'>
    <ion-item>{{matche}}</ion-item>
  </ion-list>

  <ion-list>
    <ion-item color ='dark' class='butt' routerLink='/messaging'>Match: {{matches[1]}}</ion-item>
    <ion-item>5 reccomendations:</ion-item>
  </ion-list>
  <ion-list *ngFor='let matche of secondmatch'>
    <ion-item>{{matche}}</ion-item>
  </ion-list>


  <ion-list>
    <ion-item color ='dark' class='butt' routerLink='/messaging'>Match: {{matches[2]}}</ion-item>
    <ion-item>5 reccomendations:</ion-item>
  </ion-list>
  <ion-list *ngFor='let matche of thirdmatch'>
    <ion-item>{{matche}}</ion-item>
  </ion-list>

 
</ion-content>

