<ion-header>
  <ion-back-button class='float'></ion-back-button>
  <ion-toolbar>
    <ion-title>reccomendations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color='dark'>
    <ion-label>Match 1:</ion-label>
    <ion-label>vicalexis94</ion-label>
    </ion-item>
    <ion-label>Reccomendations:</ion-label>
    <ion-item>
      <ion-label class='float'>1.Mitski: A Horse Named Cold Air</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>2.Banes World: Stay Away from My Baby</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>3.The Walters: Fancy Shoes</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>4.Soccer Mommy: Waiting for Cars</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>5.Lunar Vacation: The Basement</ion-label>
    </ion-item>

  
  <ion-item color='dark'>
    <ion-label>Match 2:</ion-label>
    <ion-label>vr7wzjpfxp2bdgsbd63ewwaub</ion-label>
    </ion-item>
    <ion-label>Reccomendations:</ion-label>
    <ion-item>
      <ion-label class='float'>1.Drake": "Passionfruit</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>2.Chris Brown": "Undecided</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>3.Post Malone": "Zack And Codeine</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>4.Lil Uzi Vert": "Neon Guts (feat. Pharrell Williams)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>5.Travis Scott": "way back</ion-label>
    </ion-item>

  
  <ion-content>
    <ion-item color='dark'>
    <ion-label>Match 3:</ion-label>
    <ion-label>1288396220</ion-label>
    </ion-item>
    <ion-label>Reccomendations:</ion-label>
    <ion-item>
      <ion-label class='float'>1.Arkells: Hey Kids!</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>2.Movements: Kept</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>3.Ivory Hours: Dreamworld</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>4.Said The Whale: Record Shop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='float'>5.Touché Amoré: Displacement</ion-label>
    </ion-item>

</ion-content>
