<ion-header>
  <ion-button class="float" (click)="SignOut()">Logout</ion-button>
  <ion-toolbar>
    <div>
      <ion-title float-left>Home</ion-title>
    </div>
  </ion-toolbar>
  
</ion-header>

<ion-content>
<ion-button class="butt" href='http://localhost:8888/login'>Link Spotify</ion-button>
<ion-button class="butt" (click)="pushRecommendations() ">Recommended Songs</ion-button>
<ion-button class="butt" (click)='pushMatches()'>Matches</ion-button>
<ion-button class="butt" (click)="pushMessage()">Message Matches</ion-button>
</ion-content>
