<ion-header>
  <ion-button class="float" (click)="SignOut()">Logout</ion-button>
  <ion-toolbar>
    <div>
      <ion-title float-left>Home</ion-title>
    </div>
  </ion-toolbar>
  
</ion-header>

<ion-content>
<ion-button class="butt" routerLink="/matches">Matches</ion-button>
<ion-button class="butt" routerLink="/messaging">Message Matches</ion-button>
<ion-button class="butt" routerLink="/account">Edit Account</ion-button>
<ion-button class="butt" routerLink="/reccomendations">Recommended Songs</ion-button>
</ion-content>
