<ion-header>
  <ion-back-button class='float'></ion-back-button>
  <ion-toolbar>
    <ion-title>Message You Matches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item color='dark'>
  <ion-label>Match 1:</ion-label>
  <ion-label>vicalexis94</ion-label>
</ion-item>
<ion-button class='butt' routerLink="/messaging"></ion-button>

<ion-item color='dark'>
  <ion-label>Match 2:</ion-label>
  <ion-label>vr7wzjpfxp2bdgsbd63ewwaub</ion-label>
</ion-item>
<ion-button class='butt' routerLink="/messaging"></ion-button>

<ion-content>
  <ion-item color='dark'>
  <ion-label>Match 3:</ion-label>
  <ion-label>1288396220</ion-label>
</ion-item>
<ion-button class='butt' routerLink="/messaging"></ion-button>


</ion-content>
